* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    position: relative;
}
.containers {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
    text-align: center;
}
/* main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
}
.main h2 {
    font-size: 60px;
    font-weight: 700;
    width: 60%;
    line-height: 1;
    text-align: center;
    background: rgb(66,125,255);
    background: linear-gradient(90deg, rgba(66,125,255,1) 0%, rgba(75,131,255,1) 39%, rgba(183,148,244,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.main p{
    width: 55%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
    font-size: 17px;
    font-weight: 300;
    padding: 20px 0;
}
.main button{
    background-color: #1A5FFF;
    color: white;
    width: Hug (292px)px;
    height: Fixed (64px)px;
    padding: 21.15px 32px 21.25px 32px;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 1px 0px 0px #FFFFFF33 inset;
    margin-bottom: 50px;
}
.main img, .replace img{
    height: 80%;
    width: 80%;
}
.main .shapes img{
    height: 20%;
    width: 20%;
}
.shapes :first-child {
    position: absolute;
    top: 100px;
    left: 10px;
}
.shapes :nth-child(2) {
    position: absolute;
    top: 100px;
    right: 10px;
}
/* replace */
.replace{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10vw;

}
.replace h2{
    font-size: 40px;
    font-weight: 700;
    width: 60%;
    line-height: 1;
}
.replace p {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 3vw;
    color: #A0AEC0;
}
/* experience */

.experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7vw;
    margin-bottom: 10vw;
}
.experience :first-child, .experience :last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
.experience img {
    height: 40%;
    width: 40%;
}
.experience .info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 20%;
}
.experience .info h3 {
    font-size: 25px;
    font-weight: 700;
}
.experience .info p {
    color: #A0AEC0;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

/* Platform */
.platform {
    margin-bottom: 10vw;
}
.platform .info{
    width: 50%;
    margin-left: 10vw;
    text-align: left;
    margin-top: 3vw;
}
.platform .info h3{
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 1.5;
    padding-bottom: 10px;
}
.platform .info p {
    font-size: 17px;
    color: #A0AEC0;
}
